apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: journai-applicationset
  namespace: argocd
  labels:
    app.kubernetes.io/name: journai-applicationset
    app.kubernetes.io/part-of: journai
spec:
  generators:
    - matrix:
        generators:
          - list:
              elements:
                - environment: dev
                  branch: feature/ssm
                  namespace: dev-journai
                  awsAccountId: "255195625987"  
                - environment: staging
                  branch: feature/ssm
                  namespace: staging-journai
                  awsAccountId: "255195625987" 
                - environment: prod
                  branch: feature/ssm
                  namespace: prod-journai
                  awsAccountId: "255195625987"  
          - list:
              elements:
                - appName: journai
                  chartPath: JournAI-Chart
                  repoName: JournAI
                  description: "AI-Powered Travel Planner"
  template:
    metadata:
      name: "{{ appName }}-{{ environment }}"
      labels:
        app.kubernetes.io/environment: "{{ environment }}"
        app.kubernetes.io/name: "{{ appName }}"
        app.kubernetes.io/part-of: "{{ appName }}"
        app.kubernetes.io/instance: "{{ appName }}-{{ environment }}"
      annotations:
        argocd.argoproj.io/sync-wave: "1"
        description: "{{ description }}"
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      sources:
        - repoURL: https://github.com/NoyLevi24/GitOps.git
          targetRevision: feature/ssm
          ref: values
        - repoURL: https://github.com/NoyLevi24/{{ repoName }}.git
          targetRevision: "{{ branch }}"
          path: "{{ chartPath }}"
          helm:
            valueFiles:
              - $values/environments/{{ environment }}/values.yaml
            parameters:
              - name: environment
                value: "{{ environment }}"
              - name: global.aws.accountId
                value: "{{ awsAccountId }}"
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{ namespace }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m